<HTML>
    <HEAD>
        <TITLE>Exemplo Jovens Talentos</TITLE>
    </HEAD>
    <BODY>
        <HR>
        <a href=“https://www.ipm.com.br”>Site da IPM</a>
        aqui um link pra um site qualquer
        <H1>Exemplo de html!</H1>
        <H2>hehe</H2>
        Dúvidas falar com <a href=“ana.mees@ipm.com.br”>
        ana.mees@ipm.com.br</a>.
        <P> Até aqui deu tudo certo! Parabéns
        <P> <B>Novo parágrafo</B>
        <BR> <B><I>Frase em negrito e itálico.</I></B>
        <HR>
    </BODY>
</HTML>